<mat-nav-list>
    <div class="logo py-4">
      <!-- <img src="./assets/logo.svg" alt="Book Keeping" /> -->
    </div>
    <!-- <mat-divider></mat-divider> -->
    
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/income">
      Income
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/expense">
      Expense
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reconciliation">
      Reconciliation
    </a>
  </mat-nav-list>
  